<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-sm">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

      </ul>
      <form class="d-flex" role="search">
        <div class="nav-item dropdown">
          <% if user_signed_in? %>
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
            <%= current_user.email %>  <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Home", root_path, class: "dropdown-item" %></li>
              <li><%= link_to "My Portfolio", my_portfolio_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Signout", destroy_user_session_path,class: "dropdown-item", method: :delete %></li>
            </ul>
          <% else %>
            User   <i class="fa-solid fa-user"></i>
          <% end %>
        </div>
      </form>
    </div>
  </div>
</nav>
